Repository ngodat0103/se347-backend, pull requests merged in 2024-12, with the labels that each got.

#12 Optmize the pipeline
  .github/workflows/dev-java-ci-template.yaml
  user-svc/Dockerfile
  user-svc/compose.yaml
  user-svc/src/main/java/com/github/ngodat0103/usersvc/UserServiceApplication.java
Labels: devops

#14 config(tf): Add Terraform for on-premise k8s
  .github/deployment/kubernetes/helm/.idea/helm.iml
  .github/tf/.gitignore
  .github/tf/dev/main.tf
  .github/tf/dev/output.tf
  .github/tf/dev/variables.tf
  .github/tf/modules/master-nodes/main.tf
  .github/tf/modules/master-nodes/outputs.tf
  .github/tf/modules/master-nodes/variables.tf
  .github/tf/modules/worker-nodes/main.tf
  .github/tf/modules/worker-nodes/outputs.tf
  .github/tf/modules/worker-nodes/variables.tf
  .github/tf/readme.md
  .github/tf/scripts/create-key-pair.sh
  .github/tf/scripts/gcloud-logout.sh
  .github/tf/scripts/get-project-id.sh
  .github/tf/scripts/quick-start.sh
Labels: devops

#15 Datnvm/workspace
  .github/workflows/dev-java-ci-template.yaml
  user-svc/compose.yaml
  user-svc/pom.xml
  user-svc/src/main/java/com/github/ngodat0103/usersvc/UserServiceApplication.java
  user-svc/src/main/java/com/github/ngodat0103/usersvc/config/kafka/KafkaConfiguration.java
  user-svc/src/main/java/com/github/ngodat0103/usersvc/config/kafka/KeyTopicSerialize.java
  user-svc/src/main/java/com/github/ngodat0103/usersvc/config/minio/MinioAutoconfiguration.java
  user-svc/src/main/java/com/github/ngodat0103/usersvc/config/minio/MinioProperties.java
  user-svc/src/main/java/com/github/ngodat0103/usersvc/controller/AuthController.java
  user-svc/src/main/java/com/github/ngodat0103/usersvc/controller/UserController.java
  user-svc/src/main/java/com/github/ngodat0103/usersvc/controller/WorkspaceController.java
  user-svc/src/main/java/com/github/ngodat0103/usersvc/dto/WorkspaceDto.java
  user-svc/src/main/java/com/github/ngodat0103/usersvc/dto/account/AccountDto.java
  user-svc/src/main/java/com/github/ngodat0103/usersvc/dto/account/CredentialDto.java
  user-svc/src/main/java/com/github/ngodat0103/usersvc/dto/account/EmailDto.java
  user-svc/src/main/java/com/github/ngodat0103/usersvc/dto/mapper/UserMapper.java
  user-svc/src/main/java/com/github/ngodat0103/usersvc/dto/mapper/WorkspaceMapper.java
  user-svc/src/main/java/com/github/ngodat0103/usersvc/exception/GlobalExceptionHandler.java
  user-svc/src/main/java/com/github/ngodat0103/usersvc/filter/BodyRequestSizeLimitFilter.java
  user-svc/src/main/java/com/github/ngodat0103/usersvc/persistence/document/Account.java
  user-svc/src/main/java/com/github/ngodat0103/usersvc/persistence/document/BaseDocument.java
  user-svc/src/main/java/com/github/ngodat0103/usersvc/persistence/document/workspace/WorkSpacePermission.java
  user-svc/src/main/java/com/github/ngodat0103/usersvc/persistence/document/workspace/Workspace.java
  user-svc/src/main/java/com/github/ngodat0103/usersvc/persistence/document/workspace/WorkspaceProperty.java
  user-svc/src/main/java/com/github/ngodat0103/usersvc/persistence/repository/WorkspaceRepository.java
  user-svc/src/main/java/com/github/ngodat0103/usersvc/security/SecurityConfiguration.java
  user-svc/src/main/java/com/github/ngodat0103/usersvc/service/BaseInterface.java
  user-svc/src/main/java/com/github/ngodat0103/usersvc/service/CdcService.java
  user-svc/src/main/java/com/github/ngodat0103/usersvc/service/MinioService.java
  user-svc/src/main/java/com/github/ngodat0103/usersvc/service/UserService.java
  user-svc/src/main/java/com/github/ngodat0103/usersvc/service/WorkspaceService.java
  user-svc/src/main/java/com/github/ngodat0103/usersvc/service/impl/UserServiceImpl.java
  user-svc/src/main/java/com/github/ngodat0103/usersvc/service/impl/WorkspaceServiceImpl.java
  user-svc/src/main/resources/dev.yaml
  user-svc/src/main/resources/minio-default-policy.json
  user-svc/src/test/java/com/github/ngodat0103/usersvc/controller/ControllerIT.java
Labels: backend

#21 ✨ addTest(workspace)
  .github/workflows/dev-java-ci-template.yaml
  audit-svc/Dockerfile
  audit-svc/pom.xml
  user-svc/Dockerfile
  user-svc/compose.yaml
  user-svc/pom.xml
  user-svc/src/main/java/com/github/ngodat0103/usersvc/controller/WorkspaceController.java
  user-svc/src/main/java/com/github/ngodat0103/usersvc/dto/WorkspaceDto.java
  user-svc/src/main/java/com/github/ngodat0103/usersvc/dto/mapper/WorkspaceMapper.java
  user-svc/src/main/java/com/github/ngodat0103/usersvc/persistence/document/workspace/Workspace.java
  user-svc/src/main/java/com/github/ngodat0103/usersvc/service/workspace/DefaultWorkspaceService.java
  user-svc/src/main/resources/dev.yaml
  user-svc/src/test/java/com/github/ngodat0103/usersvc/controller/ControllerIT.java
Labels: backend

#11 Add email verification sender service
  .gitignore
  email-svc/.dockerignore
  email-svc/.env.example
  email-svc/.gitignore
  email-svc/Dockerfile
  email-svc/README.md
  email-svc/compose.yaml
  email-svc/email_sender.py
  email-svc/kafka_process.py
  email-svc/main.py
  email-svc/requirements.txt
Labels: backend

#23 feat(): add isValidJwt endpoint
  user-svc/compose.yaml
  user-svc/src/main/java/com/github/ngodat0103/usersvc/config/minio/MinioProperties.java
  user-svc/src/main/java/com/github/ngodat0103/usersvc/controller/AuthController.java
  user-svc/src/main/java/com/github/ngodat0103/usersvc/controller/UserController.java
  user-svc/src/main/java/com/github/ngodat0103/usersvc/controller/WorkspaceController.java
  user-svc/src/main/java/com/github/ngodat0103/usersvc/dto/WorkspaceDto.java
  user-svc/src/main/java/com/github/ngodat0103/usersvc/dto/mapper/WorkspaceMapper.java
  user-svc/src/main/java/com/github/ngodat0103/usersvc/persistence/document/workspace/Workspace.java
  user-svc/src/main/java/com/github/ngodat0103/usersvc/security/SecurityConfiguration.java
  user-svc/src/main/java/com/github/ngodat0103/usersvc/service/user/DefaultUserService.java
  user-svc/src/main/resources/dev.yaml
  user-svc/src/test/java/com/github/ngodat0103/usersvc/controller/ControllerIT.java
Labels: backend

#30 Datnvm/delete-update-workspace
  se347-backend/compose-demo.yaml
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/controller/AuthController.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/controller/UserController.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/controller/WorkspaceController.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/dto/workspace/WorkspaceMemberDto.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/service/BaseService.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/service/user/DefaultUserService.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/service/user/UserService.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/service/workspace/DefaultWorkspaceService.java
Labels: backend

#32 [workspace.member]: Thêm tính năng remove member và chỉnh role
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/controller/WorkspaceController.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/dto/account/UserDto.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/dto/workspace/MemberRoleUpdateDto.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/dto/workspace/WorkspaceMemberDto.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/exception/GlobalExceptionHandler.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/persistence/document/user/User.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/service/auth/JwtAuthService.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/service/workspace/DefaultWorkspaceService.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/service/workspace/WorkspaceService.java
Labels: backend

#33 Datnvm/invite member
  se347-backend/pom.xml
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/controller/AuthController.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/controller/UserController.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/controller/WorkspaceController.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/dto/mapper/DefaultWorkspaceMapper.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/dto/mapper/UserMapper.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/dto/user/CredentialDto.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/dto/user/EmailDto.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/dto/user/UserDto.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/dto/workspace/MemberRoleUpdateDto.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/dto/workspace/WorkspaceDto.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/dto/workspace/WorkspaceMemberDto.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/exception/GlobalExceptionHandler.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/persistence/document/workspace/Workspace.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/persistence/repository/WorkspaceRepository.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/security/SecurityConfiguration.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/service/BaseService.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/service/auth/AuthService.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/service/auth/JwtAuthService.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/service/user/DefaultUserService.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/service/user/UserService.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/service/workspace/DefaultWorkspaceService.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/service/workspace/WorkspaceService.java
Labels: backend

#35 ✨ [Backend] add create task and get tasks API
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/controller/TaskController.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/dto/mapper/TaskMapper.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/dto/task/TaskDto.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/persistence/document/task/Task.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/persistence/document/task/TaskStatus.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/persistence/repository/TaskRepository.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/service/task/DefaultTaskService.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/service/task/TaskService.java
Labels: backend

#38 [Backend]: task setting API
  se347-backend/pom.xml
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/controller/TaskController.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/dto/mapper/TaskMapper.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/dto/task/CreateTaskDto.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/dto/task/ResponseTaskDto.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/dto/task/UpdateTaskDto.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/exception/GlobalExceptionHandler.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/exception/notfound/TaskNotFoundException.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/persistence/repository/TaskRepository.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/service/task/DefaultTaskService.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/service/task/TaskService.java
Labels: enhancement, backend

#41 [backend::project]: add project analytics
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/controller/ProjectController.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/dto/project/ProjectAnalyticsDto.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/dto/task/DateRange.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/dto/task/TaskAnalytics.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/dto/task/UpdateTaskDto.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/persistence/document/task/Task.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/persistence/repository/TaskRepository.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/service/ServiceUtil.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/service/project/DefaultProjectService.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/service/project/ProjectService.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/service/task/DefaultTaskService.java
Labels: enhancement, backend

#43 [Backend:task]: Get my Tasks for authenticated user
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/controller/TaskController.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/persistence/repository/TaskRepository.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/service/task/DefaultTaskService.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/service/task/TaskService.java
  se347-backend/src/main/java/com/github/ngodat0103/se347_backend/service/user/DefaultUserService.java
  se347-backend/src/main/resources/dev.yaml
Labels: backend
